<form action="/answer" data-turbo="false">
  <input type="text" name="question">
  <input type="submit" value="Ask!">
</form>


<%#
place this in the first input?
value="<%= params[:question] % >" (comnine the % > at end)
%>
